.med{
    height: 256px;
    width: 450px;
    position: relative;
    top: 150px;
    left: 35%;
}
header {
    background-color: #9df0b2;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}